@page
@model CWASP_Razor_Edition.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p style="display:inline">
        OTO #: <input type="text" asp-for="SearchOTO" />
        Student Name: <input type="text" asp-for="SearchString"/>
        Reason:
        <select asp-for="TicketReason" asp-items="Model.Reason">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" id="Filter" />
    </p>
</form>

<p><button class="btn btn-primary" id="load">Force Load Partial View</button></p>
<div id="grid">
    <!-- Render the table using a partial view -->
    <partial name="_DataList" model="@Model.Ticket" />
</div>
@section scripts {
    <script>
        $(function () {
            $('#load').on('click', function () {
                $('#grid').load('/Index?handler=DataListPartial');
            });
        });
    </script>
}